@import 'common/lib/bootstrap/less/bootstrap.less';
@import 'common/lib/font-awesome/less/font-awesome.less';
@icon-font-path: 'common/lib/bootstrap/fonts/';
@fa-font-path: 'common/lib/font-awesome/fonts';

/**
 * Global styles
 */
html, body, .viewport {
	height: 100%;
}

a {
	color: white !important;
}

/**
 * App Views styles
 */
@import 'views/login/login.less';
@import 'views/page1/page1.less';
@import 'views/page2/page2.less';