.page2 {
	height: 100%;
	width: 100%;
	background-color: blue;
	color: white;

	.content {
		padding: 0 10px;
		    display: flex;
    flex-direction: column;

		button {
			border: 2px solid;
			background: none;
			padding: 10px 15px;
			margin: 5px 0;
		}
	}
}